extensions/ctxs/ctxs-data-model/src/main/resources/META-INF/xsd/CtxsApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.openstack.org/atlas/api/v1.1/extensions/ctxs"
            xmlns:tns="http://docs.openstack.org/atlas/api/v1.1/extensions/ctxs"
            xmlns:core="http://docs.openstack.org/atlas/api/v1.1"            
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">


    <xsd:import schemaLocation="../../../../../../../../core-data-model/src/main/resources/META-INF/xsd/CoreApi.xsd" namespace="http://docs.openstack.org/atlas/api/v1.1"/>
    
    <xsd:element name="certificates" type="tns:CertificatesDef"/>
        
    <xsd:complexType name="CertificatesDef">
        <xsd:sequence>
            <xsd:element name="certificate" minOccurs="1" maxOccurs="unbounded" type="tns:certificateDef"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="certificate" type="tns:certificateDef"/>
    
    <xsd:complexType name="certificateDef">
        <xsd:sequence>
            <xsd:element name="certificatecontent" type="xsd:string" minOccurs="1"/>
            <xsd:element name="keycontent" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>        
        
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="encoding" type="tns:encodingType"/>                
        <xsd:attribute name="format" type="tns:certformat"/>        
    </xsd:complexType>
    
        
    <xsd:complexType name="certificatesRef">
        <xsd:sequence>
            <xsd:element name="certificate" minOccurs="1" maxOccurs="unbounded" type="tns:certificateRef"/>
        </xsd:sequence>
    </xsd:complexType>
        
    <xsd:complexType name="certificateRef">
        <xsd:attribute name="idref" type="xsd:int"/>
    </xsd:complexType>


    <xsd:complexType name="loadBalancer">
        <xsd:complexContent>
            <xsd:extension base="core:loadBalancer">
                <xsd:sequence>
                    <xsd:element name="certificates" type="tns:certificatesRef" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>    

    <xsd:element name="loadBalancer" type="tns:loadBalancer"/>

    <xsd:simpleType name="certformat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PEM"/>
            <xsd:enumeration value="DER"/>            
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="encodingType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BASE64"/>
        </xsd:restriction>
    </xsd:simpleType>
        
    
    
</xsd:schema>
